body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FFFFFF;
}

#topBar {
  display: flex;
  justify-content: center;
  border-bottom: solid 1px #353535 ;
}

.topButto{
  background: none;
  padding: 10px;
  border: none;
  font-size: 26px;
}

.topButto:hover{
  background-color:lightgrey;
}

#title {
  text-align: center;
}

td{
  border: solid 1px #000000;
  width: 10vh;
  height: 10vh;
  text-align: center;
  font-size: 45px;
}

#inputParent {
  display: flex;
  justify-content: center;
}

#game {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

input[type=text] {
  border: 1px solid #ccc;
  margin-top: 10px;
  width: 14px; 
  font: 12px; 
  letter-spacing: 9px;
  text-indent: 4px;
}

#bottom {
  text-align: center;
}

#start-over{
  margin-top: 15px;
  font-size: 18px;
  background: rgb(123, 233, 123);
  padding: 10px;
  border-radius: 5px;
}

#start-over:active {
  background: rgb(90, 230, 90);
}

#instructions{
  display: none;
  margin: 15px;
  padding: 10px;
  border-left: solid 1px #353535 ;
}



#bottomText {
  background-color: rgb(255, 255, 130);
  margin-top: 40px;
  padding: 5px;
  width: 100%;
  display: none;
}

footer{
  bottom:0;
}